{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Add New Brand | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

    <div class="d-flex justify-content-center align-items-center height-100">
        <div class="card custom-card">
            <div class="card-header fs-4 text-center">Add New Brand</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{ form.brand}}
                    <div class="mt-1 text-danger">
                        {{ form.brand.errors }}
                    </div>   
                    <div class="width-100 mt-3 d-flex align-items-center">
                        <a class="btn btn-outline-primary" href="{%url 'inventory'%}">Back</a>
                        <button class="btn btn-outline-success ms-2" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
{%endblock main%}