{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} All Category | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

    <div class="card height-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{%url 'inventory'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.png'%}" width="25" alt=""/>
            </a>
            <div class="fs-5 fw-bold text-center">Categories</div>
            <a href="{%url 'create-category'%}" class="btn btn-success btn-sm">Add Category</a>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {%for category in categories%}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>{{category}}</div>
                    <div>
                        <a href="{%url 'category-update' category.id%}" class="btn btn-sm btn-outline-success">Update</a>
                        <a href="{%url 'category-delete' category.id%}" class="btn btn-sm btn-outline-danger">Remove</a>
                    </div>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>  

</div>
{%endblock main%}