{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} All Brand | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="fs-5 text-center">Brands</div>
            <a href="{%url 'create-brand'%}" class="btn btn-outline-success btn-sm">Add brand</a>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {%for brand in brands%}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>{{brand}}</div>
                    <div>
                        <a href="{%url 'brand-update' brand.id %}" class="btn btn-sm btn-outline-success">Update</a>
                        <a href="{%url 'brand-delete' brand.id %}" class="btn btn-sm btn-outline-danger">Remove</a>
                    </div>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>

</div>
{%endblock main%}