{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Inventory Details | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">

   <div class="card height-100 p-5">
        <div class="d-flex align-items-center">
            <!-- <a href="{{request.META.HTTP_REFERER}}" class="btn-back">
                <img src="{%static 'icons/inventory/back.gif'%}" width="25" alt=""/>
            </a> -->
            <a href="{%url 'inventory-list'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.gif'%}" width="25" alt=""/>
            </a>
            <div class="ms-4 fw-bolder">Inventory Detail</div>
        </div>

        <div class="row height-100">
            <div class="mt-4 col">
                <div class="fs-2 fw-bold">{{inventory.product.model}}</div>
                <div class="mt-4 row">
                    <div class="col">Brand: <span class="alert alert-info p-1 m-0">{{inventory.product.brand}}</span> </div>
                    <div class="col">Category: <span class="alert alert-info p-1 m-0">{{inventory.product.category}}</span></div>
                </div>
                <div class="mt-4 row">
                    <div class="col">Stock: 
                        {%if inventory.quantity < 5 and inventory.quantity > 0 %}
                            <span class="alert alert-warning p-1 m-0">Running out</span>
                        {%elif inventory.quantity == 0%}
                            <span class="alert alert-danger p-1 m-0">Out of stock</span>
                        {%else%}
                            <span class="alert alert-success p-1 m-0">Available</span>
                        {%endif%} 
                    </div>
                    <div class="col">Quantity: <span class="alert alert-success fw-bold p-1 m-0">{{inventory.quantity}} piece</span></div>
                </div>
                <table class="mt-5 m-0 table table-bordered border-secondary">
                    <tbody>
                        <tr>
                            <td class="fw-bold">Product Cost</td>
                            <td class="text-center text-danger">{{inventory.unit_cost}} BDT</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Total Cost</td>
                            <td class="text-center text-danger">{{inventory.total_cost}} BDT</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Product Price</td>
                            <td class="text-center text-success fw-bold">{{inventory.unit_price}} BDT</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Quantity Valuation</td>
                            <td class="text-center text-success">{{inventory.valuation}} BDT</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="mt-5 row">
                    <div class="col">Released year: {{inventory.product.released_year}}</div>
                </div>
                <div class="mt-3">Description: {{inventory.product.description}}</div> -->
                <div class="row p-2 mt-5">
                    <a href="{%url 'product-details' inventory.product.id %}" class="col btn btn-outline-success">Product Details</a>
                    <a href="{%url 'inventory-update' inventory.id %}" class="ms-2 col btn btn-outline-secondary">Update inventory</a>
                    <a href="{%url 'inventory-delete' inventory.id %}" class="ms-2 col btn btn-outline-danger">Delete</a>
                </div>
            </div>
            <div class="mt-4 col overflow-hidden d-flex justify-content-center align-items-center">
                {%if inventory.product.productImg %}
                <img src="{{ inventory.product.productImg.url }}" alt="Product Image" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                {%else%}
                <img src="{% static 'media/default_images/default_product_image.png' %}" alt="{{ product.model }}">
                {%endif%}
            </div>
        </div>
   </div>
   

</div>
{%endblock main%}