{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Inventory Details | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

   <div class="card height-100 p-5">
        <div>
            <!-- <a href="{{request.META.HTTP_REFERER}}" class="btn-back">
                <img src="{%static 'icons/inventory/back.gif'%}" width="25" alt=""/>
            </a> -->
            <a href="{%url 'inventory-list'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.gif'%}" width="25" alt=""/>
            </a>
        </div>

        <div class="row height-100">
            <div class="mt-4 col">
                <div class="fs-2 fw-bold">{{inventory.product.model}}</div>
                <div class="mt-4 row">
                    <div class="col">Brand: <span class="alert alert-info p-1 m-0">{{inventory.product.brand}}</span> </div>
                    <div class="col">Category: <span class="alert alert-info p-1 m-0">{{inventory.product.category}}</span></div>
                </div>
                <div class="mt-5 row">
                    <div class="col">Stock: 
                        {%if inventory.quantity < 5 and inventory.quantity > 0 %}
                            <span class="alert alert-warning p-1 m-0">Running out</span>
                        {%elif inventory.quantity == 0%}
                            <span class="alert alert-danger p-1 m-0">Out of stock</span>
                        {%else%}
                            <span class="alert alert-success p-1 m-0">Available</span>
                        {%endif%} 
                    </div>
                    <div class="col">Quantity: {{inventory.quantity}} piece</div>
                </div>
                <div class="mt-5 row">
                    <div class="col text-danger">Cost(per unit): {{inventory.product.cost}} BDT</div>
                    <div class="col">Price(per unit): {{inventory.product.price}} BDT</div>
                    
                </div>
                <div class="mt-5 row">
                    <div class="col text-danger">Total Cost: {{inventory.total_cost}} BDT</div>
                    <div class="col text-success">Quantity Valuation: {{inventory.valuation}} BDT</div>
                </div>
                <div class="mt-5 row">
                    <div class="col">Released year: {{inventory.product.released_year}}</div>
                </div>
                <div class="mt-3">Description: {{inventory.product.description}}</div>
                <div class="row mt-4">
                    <a href="{%url 'inventory-update' inventory.id %}" class="col btn btn-outline-secondary">Update inventory</a>
                    <a href="{%url 'product-update' inventory.product.id %}" class="ms-1 col btn btn-outline-secondary">Edit product</a>
                    <a href="{%url 'inventory-delete' inventory.id %}" class="ms-1 col btn btn-outline-danger">Delete</a>
                </div>
            </div>
            <div class="mt-4 col">
                {%if inventory.product.productImg %}
                <img src="{{ inventory.product.productImg.url }}" alt="Product Image" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                {%endif%}
            </div>
        </div>
   </div>
   

</div>
{%endblock main%}