{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%}Inventory | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}


<!-- main body -->
{%block main%}
<div class="inventory p-2">
    
    <div class="container height-100">
        <div class="row height-50">
            <div class="col-8 p-1">
                <div class="card height-100">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <div class="fs-4">Inventory</div>
                            <a href="{%url 'create-inventory'%}" class="btn btn-outline-success btn-sm">Add Inventory</a>
                        </div>
                        <div class="card-text">
                            <ul class="list-group">
                                {%for each in data.inventories%}
                                    <li class="list-group-item list-group-item-action">{{each}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <a href="{%url 'inventory-list'%}" class="card-footer text-center">See all</a>
                </div>
            </div>
            <div class="col p-1">
                <div class="card height-100">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <div class="fs-4">Categories</div>
                            <a href="{%url 'create-category'%}" class="btn btn-outline-success btn-sm">Add Category</a>
                        </div>
                        <div class="card-text">
                            <ul class="list-group">
                                {%for each in data.categories%}
                                    {%for dict in counts%}
                                        {% for key, value in dict.items %}
                                            {%if each.category == key %}
                                                <li class="list-group-item list-group-item-action">{{each}} - {{value}}</li>
                                            {%endif%}
                                        {% endfor %}
                                    {%endfor%}
                                {%endfor%}

                                
                            </ul>
                        </div>
                    </div>
                    <a href="{%url 'all-category'%}" class="card-footer text-center">See all</a>
                </div>
            </div>
        </div>
        <div class="row height-50">
            <div class="col-8 p-1">
                <div class="card height-100">
                    <div class="card-body pt-2 pb-2">
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <div class="fs-4">Products</div>
                            <a href="{%url 'create-product'%}" type="button" class="btn btn-outline-success btn-sm">Add Product</a>
                        </div>
                        <div class="card-text">
                            <ul class="list-group">
                                {%for each in data.products%}
                                    <li class="list-group-item list-group-item-action">{{each}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <a href="{%url 'product-list'%}" class="card-footer text-center">See all</a>
                </div>
            </div>
            <div class="col p-1">
                <div class="card height-100">
                    <div class="card-body pt-2 pb-2">
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <div class="fs-4">Brands</div>
                            <a href="{%url 'create-brand'%}" class="btn btn-outline-success btn-sm">Add Brand</a>
                        </div>
                        <div class="card-text">
                            <ul class="list-group">
                                {%for each in data.brands%}
                                    <li class="list-group-item list-group-item-action">{{each}}</li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <a href="{%url 'all-brand'%}" class="card-footer text-center">See all</a>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock main%}