{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Update Product | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

    <div class="card p-5">

        <div class="card">
            <div class="card-header fs-5 fw-bolder text-center">Update Product</div>
            <div class="card-body">
                <form method="post" accept="">
                    {% csrf_token %}
                    <!-- {{ form.as_table }} -->
                    <div class="col mb-3">
                        <label for="{{ form.model_for_label }}" class="form-label">Model:</label>
                        {{ form.model }}
                        <div class="text-danger mt-1">
                            {{ form.model.errors }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="{{ form.brand_for_label }}" class="form-label">Brand:</label>
                            {{ form.brand }}
                            <div class="text-danger mt-1">
                                {{ form.brand.errors }}
                            </div>
                        </div>
                        <div class="col">
                            <label for="{{ form.category_for_label }}" class="form-label">Category:</label>
                            {{ form.category }}
                            <div class="text-danger mt-1">
                                {{ form.category.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="{{ form.price_for_label }}" class="form-label">Price:(BDT)</label>
                            {{ form.price }}
                            <div class="text-danger mt-1">
                                {{ form.price.errors }}
                            </div>
                        </div>
                        <div class="col">
                            <label for="{{ form.cost_for_label }}" class="form-label">Cost:(BDT)</label>
                            {{ form.cost }}
                            <div class="text-danger mt-1">
                                {{ form.cost.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="{{ form.released_year_for_label }}" class="form-label">Released year:</label>
                            <div class="d-flex">
                                {{ form.released_year }}
                            </div>
                            <div class="text-danger mt-1">
                                {{ form.released_year.errors }}
                            </div>
                        </div>
                        <div class="col">
                            <label for="{{ form.productImg_for_label }}" class="form-label">Image:</label>
                            {{ form.productImg }}
                            <div class="text-danger mt-1">
                                {{ form.productImg.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label for="{{ form.description_for_label }}" class="form-label">Model Name:</label>
                        {{ form.description }}
                        <div class="text-danger mt-1">
                            {{ form.description.errors }}
                        </div>
                    </div>
                    <div class="d-flex">
                        <a href="{%url 'product-details' product.id%}" class="btn btn-secondary">
                            Cancel
                        </a> 
                        <button type="submit" class="ms-2 btn btn-outline-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

</div>
{%endblock main%}