*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mother-div{
    width: 100vw;
    height: 100vh;
    background: rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width: 15vw;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.upper{
    width: 100%;
    height: auto;
}
.branding{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
} 
.branding a{
    text-decoration: none;
}
.gedget{
    color: rgb(255, 174, 0);
}
.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navItem{
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .300s ease;
}
.navItem a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    color: inherit;
}
.navItem:hover{
    background: rgb(255, 174, 0);
    cursor: pointer;
}
.navtitle{
    margin-left: 15px;
}

.lower{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.content{
    width: 85vw;
}
.navbar-w{
    width: 100%;
    border-left: 1px solid rgb(228, 228, 228);
}

.selected{
    background: rgb(255, 174, 0);
}