{% extends "Layout.html" %}
{% load static %}

{%block title%} Sales List | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card height-100">
        <div class="card shadow-lg m-5">
            <div class="card-header fw-bold text-center text-success fs-5">User Information</div>
            <div class="card-body">
                <form method="post">
                    {%csrf_token%}
                    <div class="mb-3 d-flex justify-content-between align-items-center">
                        <div class="width-100">
                            <label for="{{ form.first_name_for_label }}" class="form-label">First Name:</label>
                            {{ form.first_name }}
                            <div class="text-danger mt-1">
                                {{ form.name.errors }}
                            </div>
                        </div>
                        <div class="ms-2 width-100">
                            <label for="{{ form.last_name_for_label }}" class="form-label">Last Name:</label>
                            {{ form.last_name }}
                            <div class="text-danger mt-1">
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email_for_label }}" class="form-label">Email:</label>
                        {{ form.email }}
                        <div class="text-danger mt-1">
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.phone_for_label }}" class="form-label">Phone:</label>
                        {{ form.phone }}
                        <div class="text-danger mt-1">
                            {{ form.phone.errors }}
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-between align-items-center">
                        <a href="{%url 'sales-list'%}" class="btn btn-sm btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-sm btn-success">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock main%}