{% extends "Layout.html" %}
{% load static %}

{%block title%} Invoice | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card height-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{%url 'new-sale'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.png'%}" width="20" alt=""/>
            </a>
            <div class="fs-4 fw-bold">Invoice</div>
            <a href="{%url 'sales-payment' buyer.email%}" class="ms-2 btn btn-sm btn-success">Make Payment</a>
        </div>
        <div class="m-3 mb-4 card border border-2 border-info">
            <div class="card-body">
                <div class="mb-2 fs-4"><span class="fw-normal">{{buyer.first_name}} {{buyer.last_name}}</span></div>
                <div class="mb-2 fw-bold">Email: <span class="fw-normal">{{buyer.email}}</span></div>
                <div class="fw-bold">Phone: <span class="fw-normal">{{buyer.phone}}</span></div>
            </div>
        </div>
        <div class="card-body p-0 ps-3 pe-3 table-container">
            <table class="table">
                <thead class="sticky-top table-secondary">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col" class="text-center">Picture</th>
                        <th scope="col" class="text-center">Unit price (BDT)</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Total Price (BDT)</th>
                        <th scope="col" class="text-center">Option</th>
                    </tr>
                </thead>
                <tbody class="">
                    {%for product in product_list%}
                        <tr>
                            <td>{{product}}</td>
                            <td>
                                <div class="overflow-hidden d-flex justify-content-center align-items-center">
                                    {%if product.product.product.productImg %}
                                    <img src="{{ product.product.product.productImg.url }}" alt="Product Image" width="60">
                                    {%else%}
                                    <img src="{% static 'media/default_images/default_product_image.png' %}" alt="{{ product.model }}">
                                    {%endif%}
                                </div>
                            </td>
                            <td class="text-center">{{product.product.unit_price}}</td>
                            <td class="text-center">{{product.quantity}}</td>
                            <td class="text-center text-success">{{product.subtotal}}</td>
                            <td class="text-center">
                                <a href="{%url 'invoice-remove-item' buyer.email product.id%}" class="btn btn-sm btn-danger">Remove</a>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
                <tfoot class="sticky-bottom table-success">
                    <tr>
                        <td colspan="4" class="fw-bold">Total Amount</td>
                        <td class="text-center text-success fw-bold">
                            {%if total_amount %}
                                {{total_amount}}
                            {%else%}
                                0
                            {%endif%}
                        </td>
                        <td class="text-center">
                            <a href="{%url 'invoice-add-item' buyer.email%}" class="btn btn-sm btn-warning">Add Item</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

{%endblock main%}