{% extends "Layout.html" %}
{% load static %}

<!-- titile -->
{%block title%} Sales List | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">
    
    <div class="card height-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{%url 'inventory'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.png'%}" width="25" alt=""/>
            </a>
            <div class="fs-4 fw-bold">Sales</div>
            <a href="{%url 'new-sale'%}" class="btn btn-success btn-sm">New sale</a>
        </div>
        <div class="card-header">Filtering section here</div>
        
        <div class="card-body overflow-scroll">
            <table class="table table-bordered border-warning">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Details</th>
                        <th scope="col" class="text-center">Price per unit</th>
                        <th scope="col" class="text-center">Total Amount</th>
                        <th scope="col" class="text-center">Sale Date</th> 
                    </tr>
                </thead>
                <tbody>
                    {%for sale in sales%}
                        <tr>
                            <td class="">{{sale.product}}</td>
                            <td class="text-center"><div class="alert alert-info p-0 m-0 width-auto">{{sale.quantity}}</div></td>
                            <td class="text-center">
                                <a href="{%url 'sales-details' sale.id %}" class="btn btn-outline-secondary btn-sm">Details</a>
                            </td>
                            <td class="text-center">{{sale.unit_price}}</td>
                            <td class="text-center text-danger">{{sale.total_price}} BDT</td>
                            <td class="text-center text-primary">{{sale.sale_date}} BDT</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>
{%endblock main%}