{% extends "Layout.html" %}
{% load static %}

{%block title%} Sales List | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">
    <div class="card height-100">
        <div class="card-header d-flex justify-content-between align-items-center position-relative">
            <a href="{%url 'sales-list'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.png'%}" width="20" alt=""/>
            </a>
            <div class="fw-bold fs-5 position-absolute top-50 start-50 translate-middle">Sale Details</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header fw-bold text-success text-center">Customer Information</div>
                        <div class="card-body">
                            <table class="m-0 table table-bordered border-secondary">
                                <tbody>
                                    <tr>
                                        <td class="fw-bold">Customer Name</td>
                                        <td class="text-end">
                                            {%if sale.user%}
                                            {{sale.user.first_name}} {{sale.user.last_name}}
                                            {%else%}
                                            {{sale.general_user.first_name}} {{sale.general_user.last_name}}
                                            {%endif%}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Email</td>
                                        <td class="text-end">
                                            {%if sale.user%}
                                            {{sale.user.email}}
                                            {%else%}
                                            {{sale.general_user.email}}
                                            {%endif%}
                                        </td>
                                    </tr>
                                    {%if sale.general_user%}
                                    <tr>
                                        <td class="fw-bold">Phone</td>
                                        <td class="text-end">{{sale.general_user.phone}}</td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Transaction</div>
                    </div>
                </div>
                <div class="col">
                    Invoice list
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock main%}