{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Delete Purchase | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

    <div class="card height-100">
        <div class="d-flex justify-content-center align-items-center height-100">
            <div class="card">
                <div class="card-header fs-4 text-center text-danger">Are you sure to delete Sale ?</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {%if sale.product.productImg%}
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{{sale.product.productImg.url}}" height="350px" alt=""/>
                        </div>
                        {%endif%}
                        <div class="fs-4 fw-bold text-center">{{sale.product.model}} <a class="fs-6 alert alert-info p-1 m-0">{{sale.product.brand}}</a></div>
                        <div class="fs-6 text-center">Quantity: {{sale.quantity}}</div>
                        <div class="fs-6 text-center">Total Amount: {{sale.total_price}}</div>
                        <div class="width-100 mt-3 d-flex justify-content-center align-items-center">
                            <a class="btn btn-outline-secondary" href="{%url 'sales-details' sale.id%}">Cancel</a>
                            <button class="btn btn-outline-danger ms-2" type="submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
{%endblock main%}