{% extends "Layout.html" %}
{% load static %}

<!-- titile -->
{%block title%} Purchase Details | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory p-2">

    <div class="card height-100 p-5">
        
        <div>
            <a href="{%url 'purchase-list'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.gif'%}" width="25" alt=""/>
            </a>
        </div>

        <div class="row height-100">
            <div class="mt-4 col">
                <div class="fs-2 fw-bold">{{purchase.product}}</div>
                <div class="mt-4 row">
                    <div class="col">Brand: <span class="alert alert-info p-1 m-0">{{purchase.product.brand}}</span> </div>
                    <div class="col">Category: <span class="alert alert-info p-1 m-0">{{purchase.product.category}}</span></div>
                </div>
                <div class="mt-3 row">
                    <div class="col">Quantity: {{purchase.quantity}} piece</div>
                </div>
                <div class="mt-3 text-danger row">
                    <div class="col">Cost(per unit): {{purchase.unit_price}} BDT</div>
                    <div class="col fw-bold">Total Cost: {{purchase.total_price}} BDT</div>
                </div>
                <div class="mt-3 custom-btn row">
                    <div class="col">Purchase Date: {{purchase.purchase_date}}</div>
                </div>
                <div class="mt-5 row">
                    <div class="fs-5 fw-bold">Supplier details -</div>
                    <div class="mt-3 col">Company: {{purchase.supplier.company_name}}</div>
                </div>
                <div class="mt-4 row">
                    <div class="col">Email: <span class="alert alert-secondary p-1 m-0">{{purchase.supplier.email}}</span></div>
                    <div class="col">Phone: <span class="alert alert-secondary p-1 m-0">{{purchase.supplier.phone_number}}</span></div>
                </div>
                <div class="mt-4 row">
                    <div class="col">Provider Name: {{purchase.supplier.contact_person}}</div>
                    <div class="col">Address: {{purchase.supplier.address}}</div>
                </div>
                <div class="row mt-4">
                    <a href="{%url 'purchase-update' purchase.id%}" class="col btn btn-outline-secondary">Update purchase</a>
                    <a href="{%url 'purchase-delete' purchase.id%}" class="ms-1 col btn btn-outline-danger">Delete</a>
                </div>
            </div>    
            <div class="mt-4 col">
                {%if purchase.product.productImg %}
                <img src="{{ purchase.product.productImg.url }}" alt="Product Image" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                {%endif%}
            </div>
        </div>

    </div>

</div>
{%endblock main%}