{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Purchase List | Amar Shop {%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}">
{%endblock link%}

<!-- main body -->
{%block main%}
<div class="inventory">

    <div class="card height-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{%url 'inventory'%}" class="btn-back">
                <img src="{%static 'icons/inventory/back.png'%}" width="25" alt=""/>
            </a>
            <div class="fs-4 fw-bold">Purchase List</div>
            <a href="{%url 'new-purchase'%}" class="btn btn-success btn-sm">New Purchase</a>
        </div>
        <div class="card-body">
            this is card body
        </div>
    </div>

</div>
{%endblock main%}