{% extends "Layout.html" %}
{% load static %}

<!-- titile -->

{%block title%} Delete Supplier | Amar Shop{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'css/suppliers.css'%}">
{%endblock link%}


<!-- main body -->
{%block main%}
<div class="supplier p-2">
    
    <div class="card height-100">
        <div class="d-flex justify-content-center align-items-center height-100">
            <div class="card">
                <div class="card-header fs-4 text-center text-danger">Are you sure to Delete Supplier "{{supplier}}" ?</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="fs-4 fw-bold mb-2 text-center">Company: {{supplier.company_name}}</div>
                        <div class="fs-6 fw-bolder mb-2 text-center">Email: {{supplier.email}}</div>
                        <div class="fs-6 fw-bold mb-2 text-center">Phone No.: {{supplier.phone_number}}</div>
                        <div class="fs-6 fw-bold mb-2 text-center">Saler: {{supplier.contact_person}}</div>
                        <div class="width-100 mt-3 d-flex justify-content-center align-items-center">
                            <a class="btn btn-outline-secondary" href="{%url 'supplier-list'%}">Cancel</a>
                            <button class="btn btn-outline-danger ms-2" type="submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock main%}